extends ../layouts/default
include ../mixins/posts

block content
	.container: .jumbotron.col-md-9.col-xs-12
		h2 news from the booth
		+create-post()
		+show-posts(posts)
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
