extends ../layouts/default
include ../mixins/posts

block content
	.col-md-12.col-xs-12.col-sm-12
		h2 news from the booth
		+create-post()
		+show-posts(posts)
	if user
		div(id='new-post', data-toggle="modal", data-target="#myModal").btn.btn-fab
			i.material-icons add_to_queue
			.ripple-container

block js
	script(src='/js/site/new-post.js')
