extends ../layouts/default
include ../mixins/posts

block content
	.col-md-12.col-xs-12.col-sm-12
		h2 news from the booth
		+create-post()
		+show-posts(posts)

block js
	script(src='/js/site/new-post.js')
