extends ../layouts/default

block content
	form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form.create-form
		input(type='hidden', name='action', value='pledge')

		.col-sm-8.col-sm-offset-2.sign-up-form.col-xs-10.col-xs-offset-1
			h2 WUSB Donor Registration Form
			.form-group.row
				label.col-sm-12.col-xs-12 First Name #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='text', name='firstName', placeholder='First name').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Last Name #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='text', name='lastName', placeholder='Last name').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Mailing Address, Street, Town, State and Zip Code #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='text', name='address', placeholder='Address').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Phone Number (include area code) #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='tel', name='phone', placeholder='(###) ###-####').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Email Address #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='email', name='email', placeholder='you@example.com').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Amount of Donation (USD) #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='number', name='amount', placeholder='').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Would you like a thank you premium gift? #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type="radio", name="gift", value="0")
					| No thanks, keep up the great radio!
				.col-sm-6.col-xs-12
					input(type="radio", name="gift", value="1") 
					| Yes please! I'll write what I want in the box below.
			.form-group.row
				label.col-sm-12.col-xs-12 Enter your premium gift selection once you've chosen one from the list on the website
				.col-sm-6.col-xs-12
					input(type='text', name='giftName', placeholder='').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 Write in any comments you have as well as the show you're pledging for if you have one #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type='text', name='comments', placeholder='').form-control
			.form-group.row
				label.col-sm-12.col-xs-12 How would you like to make your donation? #[font(color="red") *]
				.col-sm-6.col-xs-12
					input(type="radio", name="method", value="0")
					| Mail me an invoice.
				.col-sm-6.col-xs-12
					input(type="radio", name="method", value="1") 
					| Recurring monthly credit card pledge ($5 minimum). Someone will call you to confirm this pledge.
				.col-sm-6.col-xs-12
					input(type="radio", name="method", value="2") 
					| Once-off credit card pledge (submit the form then go to the secure payment website from the front page)
			.form-group
				button(type='submit', style="background-color: white;" data-loading-text="Changing...").btn.btn-lg.btn-primary Submit
