extends ../layouts/default

block content
	.container: .jumbotron
		div
			div
				a(href='?week=1') <---- Week A
			div
				a(href='?week=2') ----> Week B
		table(style='width:100%; table-layout:fixed')
			thead
				tr
					th
					for day in days
						th(style='text-align:center')!=day
			tbody
				for timeslot in timeslots
					tr
						td!=timeslot.string
						for day in days
							- var program = calendar[day][timeslot.number]
							if program 
								td(style='background-color:orange; text-align:center', rowspan!=program.lengthInMinutes/30)
									a(href='/program/' + program.slug)!=program.title
							else
								td
									
