extends ../layouts/default

block content
	.container: .jumbotron
		table(style='width:100%; table-layout:fixed')
			thead
				tr
					th
					for day in days
						th!=day
			tbody
				for timeslot in timeslots
					tr
						td!=timeslot
						for day in days
							td!="BONE"
								
						
