extends ../layouts/default

block content
	.container: .jumbotron.schedule
		h2= 'The week of ' + (date1.getMonth() + 1) + '/' + date1.getDate() + ' - ' + (date2.getMonth() + 1) + '/' + date2.getDate()
		div
			div
				- var week = weekState === '1' ? 0 : 1;
				a(href='?weekState=' + week + '&week=back&date1=' + date1.getMonth() + 'q' + date1.getDate() + '&date2=' + date2.getMonth() + 'q' + date2.getDate()).previous
					i.material-icons skip_previous
					span Previous Week
					
				a(href='?weekState=' + week + '&week=fwd&date1=' + date1.getMonth() + 'q' + date1.getDate() + '&date2=' + date2.getMonth() + 'q' + date2.getDate()).next
					span Next Week
					i.material-icons skip_next
		table(style='width:100%; table-layout:fixed')
			thead
				tr
					th
					for day in days
						th(style='text-align:center')!=day
			tbody
				for timeslot in timeslots
					tr
						td!=timeslot.string
						for day in days
							- var program = calendar[day][timeslot.number]
							if program 
								td(rowspan!=program.lengthInMinutes/30).program.panel.panel-default
									a(href='/program/' + program.slug)!=program.title
							else
								td
									
