mixin create-post()
	if user
		#new-post
			span.glyphicon.glyphicon-plus.plus
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.hidden.profile-form
				input(type='hidden', name='action', value='create-post')
			
				.col-sm-10.col-sm-offset-1
			
					//- Title
					.form-group
						h3 Create a post
						input(type='text', id='post-title', name='title', placeholder='Post title').form-control.col-sm-12
						
					//- Content
					.form-group
						h3 Post content
						textarea(name='textContent', class='wysiwyg', rows="3").form-control.col-sm-12
						
					//- Submit
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-block Create post

mixin show-post(post)
	if post.author
		div.grid-item
			div(id='post-id-' + post.id, class='post')
				.media
					.media-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
						if user && user.id === post.author.id
							a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
								span.glyphicon.glyphicon-remove
								span  delete

mixin show-posts(posts)
	.grid(data-masonry='{ "columnWidth": 220, "itemSelector": ".grid-item" }')
		for post in posts
			+show-post(post)
