mixin create-post()
	if user
		#new-post
			span.glyphicon.glyphicon-plus.plus
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.hidden.profile-form
				input(type='hidden', name='action', value='create-post')

				.col-sm-10.col-sm-offset-1

					//- Title
					.form-group.label-floating
						label(class="control-label", for="post-title") Post title
						input(type='text', id='post-title').form-control

					//- Content
					.form-group
						textarea(name='textContent', placeholder='Post content', class='wysiwyg', rows="3").form-control.col-sm-12

					//- Submit
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-default.btn-lg.btn-block.btn-raised Create post
							.ripple-container

mixin show-post(post)
	if post.author
		div.grid-item
			div(id='post-id-' + post.id, class='panel panel-primary')
				.panel-heading
					h3!=post.title
					h4!=post.author.name.first + ' ' + post.author.name.last
				.panel-body
					p!=post.textContent.replace(/\n/g, '<br>')
				if user && user.id === post.author.id
					a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm
						button.btn.btn-default.btn-delete
							span.glyphicon.glyphicon-remove

mixin show-posts(posts)
	.grid(data-masonry='{"itemSelector": ".grid-item"}')
		for post in posts
			+show-post(post)
