mixin create-post()
	if user
		.row
			#new-post.col-md-1.col-lg-1.col-sm-2
				span.glyphicon.glyphicon-plus.plus
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal.create-form.profile-form
				input(type='hidden', name='action', value='create-post')
			
				.row: .col-sm-8.col-sm-offset-2
			
					//- Title
					.form-group
						h2 Create a post
						input(type='text', id='post-title', name='title', placeholder='Post title').input.input-xl.input-faded
						
					//- Content
					.form-group
						textarea(name='textContent', class='wysiwyg', placeholder='Post content').input.input-faded
						
					//- Submit
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-block Create post

mixin show-post(post)
	if post.author
		div.grid-item
			div(id='post-id-' + post.id, class='post')
				.media
					.media-body
						h3!=post.title
						h4!=post.author.name.first + ' ' + post.author.name.last
						p!=post.textContent.replace(/\n/g, '<br>')
						if user && user.id === post.author.id
							|  &middot; 
							a(href='?remove=post&post=' + post.slug, title='Delete this post', rel='tooltip', data-placement='left').post-delete.js-delete-confirm Delete

mixin show-posts(posts)
	.grid(data-masonry='{ "columnWidth": 220, "itemSelector": ".grid-item" }')
		for post in posts
			+show-post(post)
