@-moz-keyframes spin-right {
	100% { -moz-transform: rotate(45deg); } 
}
@-webkit-keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); }
}
@keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
}

@-moz-keyframes spin-left {
	100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}


#body {
  
	#new-post {
	  	text-align: center;
	  	background-color: $wusb-blue;
		width: 50px;
		height: 50px;
		line-height: 50px;
		margin: 0;
		-webkit-transition: width 1s ease,
						    height 2s ease;
		-moz-transition: width 1s ease,
						 height 2s ease;
		-o-transition: width 1s ease,
					   height 2s ease;
		transition: width 1s ease,
					height 2s ease;
		
		
		.rotate-right {
			-webkit-animation: spin-right 1s linear;
			-moz-animation: spin-right 1s linear;
			animation: spin-right 1s linear;
		}

		.rotate-left {
			-webkit-animation: spin-left 1s linear;
			-moz-animation: spin-left 1s linear;
			animation: spin-left 1s linear;
		}
	}
	
	#new-post:hover {
		cursor: pointer;
	}
	
  
}
