#body {
  
	#new-post {
	  	text-align: center;
	  	background-color: $wusb-blue;
	  	font-weight: bold;
	}

	.post {
	  	padding: 10px;
		background-color: $wusb-blue;
		-webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.75);
		
		
		h3 {
		  	margin-top: 10px
		}
	}
  
  	.grid-item {
		float: left;
		width: 200px;
	  	margin: 10px 0 10px 0;
	}
  
}
