@-moz-keyframes spin-right {
	100% { -moz-transform: rotate(45deg); } 
}
@-webkit-keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); }
}
@keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
}

@-moz-keyframes spin-left {
	100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}


#body {
	.modal-content {
		background-color: $wusb-blue;
		textarea {
			color: $wusb-white;
		}
	}
  
}
