@-moz-keyframes spin-right {
	100% { -moz-transform: rotate(45deg); }
}
@-webkit-keyframes spin-right {
	100% { -webkit-transform: rotate(45deg); }
}
@keyframes spin-right {
	100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
}

@-moz-keyframes spin-left {
	100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}


.index {
	.modal-content {
		//background-color: $wusb-blue;
		background-color: #AACCB1;
		textarea {
			color: black;
			background-color: $wusb-white;
			padding: 10px;
			border-radius: 5px;
		}
	}

	.card {
		height: 50vh;
		overflow: hidden;

		.card-image {
			img {
				object-fit: cover;
			}
		}

		.post-delete {
			position: absolute;
			top: 0;
			right: 0;

			.btn {
				padding: 0;
				margin: 5px 5px;
			}
		}
	}

	.card-overflow {
		background: linear-gradient(white 45vh, grey);
	}

	.card-overflow:hover {
		cursor: pointer;
	};

}

@media only screen and (min-width: 768px) {
	/* tablets and desktop */
}

@media only screen and (max-width: 767px) {
	/* phones */
	.index {

		h3 {
			font-size: 1.2em;
		}

		h4 {
			font-size: 1em;
			margin: 5px 0;
		}
		.card {
			height: 140px;

			.card-body {
				padding: 4px;
			}

			.post-delete {
				.btn {
					margin: 0 5px;
				}
				.material-icons {
					font-size: 1em;
				}
			}
		}

		.card-overflow {
			background: linear-gradient(white 120px, darkgrey);
		}
	}
}
