@-moz-keyframes spin-right {
	100% { -moz-transform: rotate(45deg); } 
}
@-webkit-keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); }
}
@keyframes spin-right { 
	100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); } 
}

@-moz-keyframes spin-left {
	100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin-left {
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}


#body {
	.modal-content {
		background-color: $wusb-blue;
		textarea {
			color: $wusb-white;
		}
	}
	
	.card {
		height: 350px;
		overflow: hidden;
		
		.card-image {
			img {
				object-fit: cover;
			}	
		}
		
		.post-delete {
			position: absolute;
			top: 0;
			right: 0;
			
			.btn {
				padding: 0;
				margin: 5px 5px;
			}
		}
	}
  
}
