body {
  background-color: $body-bg;
}


#header {
  	.container {
	  	width: 100vw;
	  	padding-left: 0;
	  	padding-right: 0;
	}

    .stream {
      position: absolute;
      background-color: $wusb-grey;
      text-align: left;
      color: $wusb-white;
      top:.5em;
      right: .5em;
      h5 {
        font-size: 1em;
        text-align: center;
      }
      i {
        font-size: 1.2em;
      }
      i.play:hover {
        color: $wusb-blue;
      }
      i.stop:hover {
        color: $wusb-blue;
      }
      i.play:active {
        font-size: 1.35em;
      }
      i.stop:active {
        font-size: 1.35em;
      }
    }

  	.tower {
	  	background-color: $wusb-grey;
		img {
		  	margin: 15px auto 15px auto;
		}
	}

  	.navbar-toggle {
	  	background-color: inherit;
	  	border: none;

		.icon-bar {
		  	background-color: $wusb-white;
		}

	}

  	.navbar-toggle:hover {

	}

	.navbar {
	  	background-color: $wusb-blue;
	  	border: none;
  		border-radius: 0;
	  	text-align: center;
		box-shadow: 0 2px 6px 0px rgba(0,0,0,0.75);


		.navbar-collapse {

		  	border: none;

			.nav {
				display:inline-block;
				float: none;
				vertical-align: top;
				border: none;
			}

		  	ul {
				.active {
					font-weight: bold;
			  		a {
						background-color: inherit;
			  		}
				}

				li {
					font-size: 18px;
			  		list-style: none;
			  		a {
						color: $wusb-white;
			  		}
				}
		  	}
		}

		.collapsing {
			text-align: left;
		}

		.in {
			text-align: left;

			.nav {

			}
		}

	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

button {
	border: none;
	border-radius: 0;
	color: $wusb-blue;
	background-color: $wusb-white;
	font-weight: bold;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	
	* {
		vertical-align: middle;
	}
}

#body {

  	.jumbotron {
		background-color: $body-bg;
		border-radius: 0;
		color: #fff;
		padding-top: 10px;
	  	padding-right: 0;
	  	padding-left: 0;
  	}
}

input[type='text'], textarea {
  	color: black;
}
