body {
  background-color: $body-bg;
}


#header {
  	.container {  	
	  	width: 100vw;
	  	padding-left: 0;
	  	padding-right: 0;
	}
  	.tower {
	  	background-color: $wusb-grey;
	    
		img {
		  	margin: 15px auto 15px auto;
		}
	}

  	.navbar-toggle {
	  	background-color: inherit;
	  	border: none;

		.icon-bar {
		  	background-color: $wusb-white;
		}
	  
	}
  
  	.navbar-toggle:hover {
	  
	}	
  
	.navbar {
	  	background-color: $wusb-blue;
	  	border: none;
  		border-radius: 0;
	  	text-align: center;
		box-shadow: 0 2px 6px 0px rgba(0,0,0,0.75);


		.navbar-collapse {
			
		  	border: none;
		  
			.nav {
				display:inline-block;
				float: none;
				vertical-align: top;
				border: none;
			}
		
		  	ul {
				.active {  
					font-weight: bold;
			  		a {
						background-color: inherit;
			  		}
				}

				li {
					font-size: 18px;
			  		list-style: none;
			  		a {
						color: $wusb-white;
			  		}
				}
		  	}
		}
		
		.collapsing {
			text-align: left;
		}
		
		.in {
			text-align: left;
			
			.nav {
				
			}
		}
		
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}



#body {
  
  	.jumbotron {
		background-color: $body-bg;
		border-radius: 0;
		color: $wusb-white;
		padding-top: 10px;
	  	padding-right: 0;
	  	padding-left: 0;
  	}
}

input[type='text'], textarea {
  	color: black;
}
