body {
  background-color: $body-bg;
}


#header {
  	.container {
	  	width: 100vw;
	  	padding-left: 0;
	  	padding-right: 0;
	}

    .stream {
      	position: absolute;
      	background-color: $wusb-grey;
	  	text-align: right;
	  	color: $wusb-white;
	  	top: 1vh;
	  	right: 1vw;
		
      	h5 {
			font-size: 1em;
			font-weight: 500;

			i {
				font-size: 1em;
				vertical-align: top;
			}
		}
		
		.play:hover {
			cursor: pointer;
		}
    }

  	.tower {
	  	background-color: $wusb-grey;
		img {
		  	margin: 15px auto 15px auto;
		}
	}

	.navbar {
		background-color: $wusb-blue;
		border: none;
		border-radius: 0;
		text-align: center;

		.navbar-collapse {
			
			.nav {
				display:inline-block;
				float: none;
				vertical-align: top;
				border: none;
			}

			ul {
				.active {
					font-weight: bold;
					a {
						background-color: inherit;
					}
				}

				li {
					font-size: 18px;
					list-style: none;
					a {
						color: $wusb-white;
					}
				}
			}
		}

		.collapsing {
			text-align: left;
		}

		.in {
			text-align: left;

			.nav {

			}
		}

	}
}

#body {

	color: $wusb-white;
	
	h2 {
		display: inline-block;
	}
	.grid {
		max-width: 1140px;

		a {
			color: $wusb-white;
			text-decoration: none;
			
			.panel {
				border-radius: 4px;
			}
		}

		a:hover {
			text-decoration: none;
			
			.panel {
				background-color: $wusb-grey;
			}
		}
		
		.panel {
			border-radius: 4px;
			background-color: $wusb-blue;
			transition: all 0.5s ease;

			.btn-delete {
				color: $wusb-white;
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				margin: 12px 14px;
			}
			
			h3 {
				margin-top: 10px
			}

			
		}
	}

	/* clearfix */
	.grid:after {
		content: '';
		display: block;
		clear: both;
	}

	.grid-sizer, .grid-item {
		float: left;
		width: 220px;
		padding: 10px 10px 0 0;
	}

	.grid-item--width2 {
		width: 440px;
	}

	.grid-item--width3 {
		width: 880px;
	}
	
	.grid-item--width4 {
		width: 1100px;
	}
	
	.btn-fab {
		position: fixed;
		right: 3vw;
		bottom: 5vh;
	}
	
	.btn-fab:hover {
		color: $wusb-white;
	}
	
	.jumbotron {
		background-color: $wusb-blue;
		
		.row {
			margin: 0;
		}
	}

	form {
		text-align: left;

		.form-group {
			label {
				color: $wusb-white;
			}
			
			input {
				color: $wusb-white;
			}
			
			input::-moz-placeholder{
				color: #dfdee0;
			}
			input::-webkit-input-placeholder{
				color: #dfdee0;
			}
			
		}

		.tt-menu {
			padding: 5px;
			background-color: $wusb-white;
			color: $wusb-blue;
		}

		.wysihtml5-toolbar {

			li {
				a {
					color: $wusb-white;
				}

				a:hover, a:focus {
					background-color: $wusb-light;
					-webkit-box-shadow: none hoff voff blur color;
					-moz-box-shadow: none hoff voff blur color;
					box-shadow: none hoff voff blur color;
				}
				
				.wysihtml5-command-active {
					background-color: $wusb-grey;
				}
			}
			
			.dropdown {
				.dropdown-menu {
					background-color: $wusb-blue;
					li a {
						color: $wusb-white;
					}
				}
			}
			
			.open {
				.dropdown-toggle {
					background-color: $wusb-grey;
				}
			}
			
		}

		iframe {
			border: none !important;
		}
		
		table {
			
			tr:hover {
				background-color: $wusb-grey;
			}
			td {
				input {
					width: 100%;
					border: none;
					color: white;
					background-color: transparent;
				}
			}
		}
	}
	
	.pagination {
		.material-icons {
			font-size:inherit;
		}
	}
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

#footer {
	color: $wusb-white;
	margin-top: 30px;
	margin-bottom: 20px;
	border-top: 1px solid #eeeeee;
	padding-top: 15px;
	
	.copyright {
		margin-right: 10px;	
	}
	
	.social-media {
		margin: 0 10px 0 10px;
		a:hover {
			cursor: default;
		}
		object {
			height: 1em;
		}
		
	}
}

input[type='text'], textarea {
  	color: black;
}

