
.sign-up {
  
	
	.sign-up-form{
		margin-top: 10px;
		background-color: $wusb-blue;
		-webkit-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.75);
		box-shadow: 1px 2px 6px 0px rgba(0,0,0,0.75);

		.form-group {
			
			.col-xs-12 {
				margin-bottom: 10px;
			}
			
			button {
				font-size: 16px;
				border: none;
				border-radius: 0;
				color: $wusb-blue;
				background-color: $wusb-white;
				font-weight: bold;
				-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
			}
		}
	}
	
}

